
  <link rel="stylesheet" href="css/forms.css">
  <title><%= username %></title>


<body>
  <div class="container">
    <main>
      <h1>Kora, <%= username %></h1>
      <h3>Welcome back to the huddle!</h3>
      <p>This site is still under production and we will make. Please bear with us!</p>
      <h5>In the meantime...</h5>
      <p>Say hello, click here to send us some love!</p>
    </main>
    <br>
    <br>
    <p><a href="/logout">Logout</a></p>
  </div>
</body>


