
  <link rel="stylesheet" type="text/css" href="css/forms.css">
  <title><%= email %></title>
<body>
  < class="container">
    <main>
      <h1>Kora, <%= email %></h1>
      <h3>Welcome back to the huddle!</h3>
      <p>This site is still under production and we will make. Please bear with us!</p>
      <h5>In the meantime...</h5>
      <p>Say hello, click here to send us some love!</p>
    </main>
    <br>
    <br>
    <p><a href="/">Logout</a></p>
    <!--to redirect the user to homepage upon logout-->
  </div>
</body>


