/*================================== Custom Properties ===================================*/

:root {
  --prime1-moss_green: #859b6f;
  --prime2-terra_pink: #ffb3b3;
  --prime3-shadow_blue: #7480a4;
  --bright1-blazing_yellow: #fee715;
  --bright2-bright_Red: #e10600;
  --bright3-vivid_blue: #2657ff;
  --dark1-blue_black_blue: #101820;
  --dark2-dark_jungle_green: #151f21;
  --sec1-forest_green: #002f06;
  --sec2-earth_red: #660000;
  --sec3-terracota_mud: #ac3931;
  --neut1-cultured: #f6f8f7;
  --neut2-white: #ffffff;
  --neut3-rocket_metallic: #7d777b;
  --neut4-raisin_black: #292327;
  --neut5-rich_black_FOGRA39: #0c0c0c;
}

/*================================== Core Styles ===================================*/


/**This will give you the same result, and make it easier to change the box-sizing in plugins or other components that leverage other behavior. source: CSS TRICKS*/

header {
  text-align: center;  
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid var(--neut5-rich_black_FOGRA39);
}
nav li a {
  color: var(--neut5-rich_black_FOGRA39);
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
}
nav li:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

main {
  margin: 0 auto;
  max-width: 80w;
  width: 60%;
}

/**.row {
  display: flex;
  justify-content: center;
} **/

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;     
    font-weight: 900;    
    padding: .75em 2em;
    border: none;
}

.generic_btn {
  background-color: var(--neut2-white);
  color: var(--neut5-rich_black_FOGRA39);
}

.green_btn {
  background: var(--sec1-forest_green);
  color: var(--neut2-white);
}

.blue_btn {
  background-color: var(--bright3-vivid_blue);
  color: var(--neut2-white);
}

.cta_btn {
  background-color: var(--prime2-terra_pink);
  color: var(--neut3-rocket_metallic);
}

.yellow_btn {
  background-color: var(--bright1-blazing_yellow);
  color: var(--neut5-rich_black_FOGRA39);
}

.red_btn {
  background-color: var(--bright2-bright_Red);
  color: var(--neut2-white);
}

.btn:hover,
.btn:focus {
    opacity: .75; 
    outline: none;
}




